body {
  margin: 0;
  padding: 10px;
}
h1 {
  font-size: 24px;
}
hr {
  margin: 20px 0;
}
.cr {
  padding: 10px 0 0;
  font-size: 14px;
  text-align: center;
}
ul {
  overflow: hidden;
  list-style: none;
  padding: 0;
}
li {
  float: left;
  box-sizing: border-box;
  padding: 2px;
  width: 20%;
}
li img {
  width: 100%;
}
a {
  color: #333;
  font-size: 15px;
}
a:hover {
  opacity: .6;
}
