html, body, h1 {
  margin: 0; padding: 0;
}
h1 {
  position: absolute;
  left: 20px; top: 20px;
  font-size: 24px;
  user-select: none;
}
.operation {
  position: absolute;
  left: 20px;
  top: 60px;
  font-size: 14px;
  user-select: none;
}
